.elementor-493 .elementor-element.elementor-element-3bc8996 {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-493 .elementor-element.elementor-element-3bc8996>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-493 .elementor-element.elementor-element-e251ebb>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-493 .elementor-element.elementor-element-e251ebb {
    padding: 60px 0px 30px 0px;
}

.elementor-493 .elementor-element.elementor-element-3a8a491 img {
    width: 90px;
    max-width: 90px;
}

.elementor-493 .elementor-element.elementor-element-4e40bd7>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}

.elementor-493 .elementor-element.elementor-element-4e40bd7>.elementor-element-populated {
    text-align: right;
}

.elementor-493 .elementor-element.elementor-element-6af1503>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-493 .elementor-element.elementor-element-6af1503 {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 30px 0px 60px 0px;
}

.elementor-493 .elementor-element.elementor-element-6af1503>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-493 .elementor-element.elementor-element-7c8eb6f>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}

.elementor-493 .elementor-element.elementor-element-7c8eb6f>.elementor-element-populated {
    text-align: right;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

@media(max-width:767px) {
    .elementor-493 .elementor-element.elementor-element-0e34e92 {
        width: 30%;
    }
    .elementor-493 .elementor-element.elementor-element-4e40bd7 {
        width: 70%;
    }
    .elementor-493 .elementor-element.elementor-element-7c8eb6f>.elementor-element-populated {
        margin: 0px 0px 15px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
}