.elementor-809 .elementor-element.elementor-element-3de1357>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 30px;
}

.elementor-809 .elementor-element.elementor-element-3de1357>.elementor-element-populated {
    margin: 160px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-809 .elementor-element.elementor-element-9a65b06 .dsn-heading-title {
    max-width: 570px;
}

.elementor-809 .elementor-element.elementor-element-cd7a14b {
    overflow: hidden;
}

body:not(.rtl) .elementor-809 .elementor-element.elementor-element-720eb6c {
    left: 0px;
}

body.rtl .elementor-809 .elementor-element.elementor-element-720eb6c {
    right: 0px;
}

.elementor-809 .elementor-element.elementor-element-720eb6c {
    top: 0px;
}

.elementor-809 .elementor-element.elementor-element-8c459fb .img-box-parallax {
    height: 70vh;
}

.elementor-809 .elementor-element.elementor-element-539b674>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}

.elementor-809 .elementor-element.elementor-element-0e254ba>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-809 .elementor-element.elementor-element-6dbd43f>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 5px;
}

.elementor-809 .elementor-element.elementor-element-ff95293 .dsn-heading-title {
    font-weight: 400;
}

.elementor-809 .elementor-element.elementor-element-03b021e .dsn-heading-title {
    font-weight: 400;
}

.elementor-809 .elementor-element.elementor-element-8a215b5>.elementor-element-populated {
    padding: 20px 20px 20px 20px;
}

.elementor-809 .elementor-element.elementor-element-e2061c8 .dsn-heading-title {
    max-width: 750px;
    font-weight: 400;
}

.elementor-809 .elementor-element.elementor-element-1a8be96 .dsn-heading-title {
    max-width: 750px;
}

.elementor-809 .elementor-element.elementor-element-6c339f5>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-809 .elementor-element.elementor-element-6c339f5 {
    margin-top: 30px;
    margin-bottom: 0px;
}

.elementor-809 .elementor-element.elementor-element-0d47af3>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 5px;
}

.elementor-809 .elementor-element.elementor-element-0e32f0c .dsn-heading-title {
    font-weight: 400;
}

.elementor-809 .elementor-element.elementor-element-5e8be37 .dsn-heading-title {
    font-weight: 400;
}

.elementor-809 .elementor-element.elementor-element-e698601>.elementor-element-populated {
    padding: 20px 20px 20px 20px;
}

.elementor-809 .elementor-element.elementor-element-c866fdc .dsn-heading-title {
    max-width: 750px;
    font-weight: 400;
}

.elementor-809 .elementor-element.elementor-element-f5e460b .dsn-heading-title {
    max-width: 750px;
}

.elementor-809 .elementor-element.elementor-element-afabd2e {
    position: relative;
}

.elementor-809 .elementor-element.elementor-element-afabd2e .img-box-parallax {
    height: 80vh;
}

.elementor-809 .elementor-element.elementor-element-c273107 {
    margin-top: -70px;
    margin-bottom: 0px;
}

.elementor-809 .elementor-element.elementor-element-997c708>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 30px;
}

.elementor-809 .elementor-element.elementor-element-97e62bb>.elementor-widget-container {
    margin: 0px 0px 20px 0px;
}

.elementor-809 .elementor-element.elementor-element-e56159c>.elementor-widget-container {
    margin: 0px 0px -20px 0px;
}

.elementor-809 .elementor-element.elementor-element-be7a0f2 .dsn-grid-layout {
    --dsn-width-item: 3;
    --dsn-col-item: 30px;
    --dsn-row-item: 50px;
}

.elementor-809 .elementor-element.elementor-element-aee3c64 .dsn-grid-layout {
    --dsn-width-item: 3;
    --dsn-col-item: 30px;
    --dsn-row-item: 50px;
}

.elementor-809 .elementor-element.elementor-element-40b751b .dsn-grid-layout {
    --dsn-width-item: 3;
    --dsn-col-item: 30px;
    --dsn-row-item: 50px;
}

.elementor-809 .elementor-element.elementor-element-dd1d118>.elementor-background-overlay {
    background-image: url("https://dsngrid.com/grida/wp-content/uploads/sites/8/2022/02/page-next.svg");
    background-position: top right;
    background-repeat: no-repeat;
    opacity: 0.1;
}

.elementor-809 .elementor-element.elementor-element-68a6a10>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 15px;
}

:root {
    --page-title-display: none;
}

@media(max-width:1024px) {
    .elementor-809 .elementor-element.elementor-element-be7a0f2 .dsn-grid-layout {
        --dsn-width-item: 2;
        --dsn-row-item: 30px;
    }
    .elementor-809 .elementor-element.elementor-element-aee3c64 .dsn-grid-layout {
        --dsn-width-item: 2;
        --dsn-row-item: 30px;
    }
    .elementor-809 .elementor-element.elementor-element-40b751b .dsn-grid-layout {
        --dsn-width-item: 2;
        --dsn-row-item: 30px;
    }
}

@media(max-width:767px) {
    .elementor-809 .elementor-element.elementor-element-6dbd43f>.elementor-element-populated {
        margin: 0px 0px 20px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-809 .elementor-element.elementor-element-0d47af3>.elementor-element-populated {
        margin: 0px 0px 20px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
}

@media(min-width:768px) {
    .elementor-809 .elementor-element.elementor-element-6dbd43f {
        width: 30%;
    }
    .elementor-809 .elementor-element.elementor-element-8a215b5 {
        width: 70%;
    }
    .elementor-809 .elementor-element.elementor-element-0d47af3 {
        width: 30%;
    }
    .elementor-809 .elementor-element.elementor-element-e698601 {
        width: 70%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-809 .elementor-element.elementor-element-997c708 {
        width: 100%;
    }
}